@page "/clinical-data"
<h3>ClinicalData</h3>
<h2>Page 4 of 4</h2>

@using UI.Areas.PatientCaseReview.Pages.ViewModels;
@using UI.Services;
@inject IPatientDetailsService patientService
@inject MudBlazor.ISnackbar snackBar
@inject NavigationManager NavigationManager

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">

                <MudTextField @bind-Value="clinicalData.Temperature" T="double" Label="Temperature in ° Celcius" Required="true" RequiredError="Temperature is required!" />
                
                <MudTextField @bind-Value="clinicalData.HgCount" T="double" Label="HaemoGlobin (Hg) count " Required="false" />
                
                <MudDatePicker Label="Date of last GP visit" Editable="true" @bind-Date="clinicalData.LastVisitDateTime" Placeholder="Select Date" />
                
                <MudRadioGroup @bind-SelectedOption="prevPrescription_Radio">
                    <MudRadio Option="true" Color="Color.Primary" Dense="true">Previous prescription known</MudRadio>
                    <MudRadio Option="false" Color="Color.Secondary" Dense="false">Previous prescription unknown</MudRadio>
                </MudRadioGroup>
                
                <MudTextField Label="Enter last prescriptions separated by a comma" @bind-Value="clinicalData.PrescriptionValues" />


                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Label="I agree!" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="SaveClinicalData">Submit Clinical Data</MudButton>
                </div>
            </MudForm>
        </MudPaper>
        
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">            
            @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    bool success;
    string[] errors = { };   
    MudForm form;
    DateTime? date = DateTime.Today;
    public bool prevPrescription_Radio { get; set; } = false; // Only here to decide conditional required status for last prescriptions
    private ClinicalDataViewModel clinicalData = new ClinicalDataViewModel();
    private Guid patientGuid;
    [Parameter]
    public string fieldValue { get; set; }
    string QueryString = "";

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        QueryString = uri.Query;
        patientGuid = Guid.Parse(QueryString.Substring(QueryString.IndexOf('=') + 1));
    }

    private void SaveClinicalData()
    {
        clinicalData.PatientGuid = patientGuid;
        patientService.SavePatientClinicalData(clinicalData);
        snackBar.Add("Patient clinical data saved successfully:::", Severity.Success);
        NavigationManager.NavigateTo($"/case-output?fieldValue={patientGuid}");
    }
}
