@page "/symptoms"
<h3>Symptoms</h3>
<h2>3 of 4</h2>

@using UI.Areas.PatientCaseReview.Pages.ViewModels;
@using UI.Areas.PatientCaseReview.Pages.ViewModels.Enums;
@using UI.Services;
@inject IPatientDetailsService patientService
@inject MudBlazor.ISnackbar snackBar
@inject NavigationManager NavigationManager

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">

                <MudSelect T="string" Label="Patient symptoms" MultiSelection="true" @bind-Value="value" @bind-SelectedValues="selectedSymptoms.Options">
                    @foreach (var symptom in symptoms)
                    {
                        <MudSelectItem T="string" Value="@symptom">@symptom</MudSelectItem>
                    }
                </MudSelect>


                <div class="d-flex align-center justify-space-between">
                    <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Label="I agree!" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="SaveSymptoms">Submit Patient Symptoms</MudButton>
                </div>
            </MudForm>
        </MudPaper>

        
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">

            <MudText Typo="Typo.subtitle2">Symptoms Interactive Chat</MudText>
                @*https://www.mayoclinic.org/symptom-checker/chest-pain-in-adults-adult/related-factors/itt-20009075*@
                
        </MudPaper>
    </MudItem>
</MudGrid>




@code {
    bool success;
    string[] errors = { };
    [Parameter]
    public string fieldValue { get; set; }
    private Guid patientGuid;
    private SymptomsViewModel selectedSymptoms = new SymptomsViewModel();
    string queryString = "";

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        queryString = uri.Query;
        patientGuid = Guid.Parse(queryString.Substring(queryString.IndexOf('=') + 1));
    }
    MudForm form;
    private string value { get; set; } = "No symptom selected";
    private IEnumerable<string> options { get; set; } = new HashSet<string>() {  };

    private string[] symptoms =
    {
        "Abdominal pain", "Ankle pain", "Blood in stool", "Chest pain", "Constipation",
        "Cough", "Diarrhoea", "Difficulty in swallowing", "Dizziness",
        "Eye discomfort and redness", "Foot pain", "Foot swelling",
        "Headaches", "Heart palpitations", "Hip pain", "Knee pain", "Low back pain",
        "Nasal congestion", "Nausea or vomiting", "Neck pain", "Numbness or tingling in hands", "Pelvic pain",
        "Shortness of breath", "Shoulder pain", "Sore throat", "Urinary problems",
        "Wheezing"
    };

    private void SaveSymptoms()
    {
        selectedSymptoms.PatientGuid = patientGuid;
        patientService.SavePatientSymptoms(selectedSymptoms);
        snackBar.Add("Patient symptoms saved successfully:::", Severity.Success);
        NavigationManager.NavigateTo($"/clinical-data?fieldValue={patientGuid}");
    }

}
